@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --color-bg: white;
  --color-bg-dark: #121417;
  --primary-yellow: #fbbf24;
  --primary-blue: #3b82f6;
  --color-primary-green: #10b981;
  --text-logo: 1.25rem;
  --text-logo--line-height: 1.2!;
  --text-logo--letter-spacing: -0.02em;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    @apply bg-[--color-bg] dark:bg-[--color-bg-dark] text-gray-900 dark:text-gray-100 antialiased overflow-x-hidden;
    font-family: var(--font-family);
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-bg-dark);
    background-color: var(--color-bg);
  }
}
